<p class="t2">1. Download Google Authenticator App on your mobile phone</p>
<div class="links">
	<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Android</a>
	<a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank">iOS</a>
</div>
<p class="t2">2. Launch Google Authenticator App and scan the QR Code</p>
<div class="qr-wrapper">
	<img>
	<p>The QR Code is generated based on random key below. Enter your own key, if you want to use the same 2FA passcode to login multiple BO.</p>
	<input type="text" name="secretKey" placeholder="e.g. MySecretKey123">
	<a class="btn generate primary">Generate QR Code</a>
</div>
<p class="t2">3. Enter the 6-digit passcode as appear on Google Authenticator App</p>
<input type="text" name="passcode" placeholder="e.g. 888888">
<div class="btns">
	<a class="btn submit">Complete</a>
	<a class="btn close danger">Close</a>
</div>