<div id="messages">
	<div class="actions">
		<a class="action profile"></a>
		<a class="action pin" data-setpin="10">10</a>
		<a class="action pin" data-setpin="9">9</a>
		<a class="action pin" data-setpin="8">8</a>
		<a class="action pin" data-setpin="7">7</a>
		<a class="action pin" data-setpin="6">6</a>
		<a class="action pin" data-setpin="5">5</a>
		<a class="action pin" data-setpin="4">4</a>
		<a class="action pin" data-setpin="3">3</a>
		<a class="action pin" data-setpin="2">2</a>
		<a class="action pin" data-setpin="1">1</a>
		<a class="action pin" data-setpin="0">UNPIN</a>
	</div>
	<div class="scrollable"><div class="wrapper"></div></div>
	<div class="chat-tools">
		<textarea></textarea>
		<i class="tool send default fa fa-paper-plane"></i>
		<i class="tool send whatsapp fa fa-whatsapp"></i>
		<label class="tool file fa fa-paperclip"><input type="file" name="file"></label>
		<select name="template"></select>
		<div class="shortcuts"></div>
		<div class="voice">
			<a class="voicestart"><i class="fa fa-microphone"></i></a>
			<a class="voicesend disabled"><i class="fa fa-check"></i></a>
			<a class="voicecancel disabled"><i class="fa fa-times"></i></a>
		</div>
	</div>
</div>
<script src="https://static.gwvkyk.com/mobile/opus-recorder/recorder.min.js"></script>
<script src="/views/message/messages.js" type="text/javascript"></script>