

<div class="pin-types">
	<a class="pin-type" data-type="ALL">ALL</a>
	<a class="pin-type" data-type="0">UNPIN</a>
	<a class="pin-type" data-type="1"><%= _.pinChatRename('PIN1') %></a>
	<a class="pin-type" data-type="2"><%= _.pinChatRename('PIN2') %></a>
	<a class="pin-type" data-type="3"><%= _.pinChatRename('PIN3') %></a>
	<a class="pin-type" data-type="4"><%= _.pinChatRename('PIN4') %></a>
	<a class="pin-type" data-type="5"><%= _.pinChatRename('PIN5') %></a>
	<% if (parseInt(_.config('AddPin')) === 1) { %>
		<a class="pin-type" data-type="6"><%= _.pinChatRename('PIN6') %></a>
		<a class="pin-type" data-type="7"><%= _.pinChatRename('PIN7') %></a>
		<a class="pin-type" data-type="8"><%= _.pinChatRename('PIN8') %></a>
		<a class="pin-type" data-type="9"><%= _.pinChatRename('PIN9') %></a>
		<a class="pin-type" data-type="10"><%= _.pinChatRename('PIN10') %></a>
	<% } %>
	<button class="chat-sound">Sound On</button>
</div>
<div class="scrollable">
	<div class="wrapper"></div>
</div>