[gw-header-bg]
#header {
    background: gw-header-bg;
}

[gw-header-tx]
#header {
    color: gw-header-tx;
}

[gw-header-translate-icon]
#header > a.link.language {
    color: gw-header-translate-icon;
}

[gw-select-header-logo-position=Center]
#header .logo {
    margin-left: auto;
    margin-right: auto;
}

[gw-marquee-bg]
#marquee {
    background: gw-marquee-bg;
}

[gw-marquee-tx]
#marquee {
    color: gw-marquee-tx;
}

[gw-marquee-tx-sz]
#marquee {
    font-size: gw-marquee-tx-szpx;
}

[gw-marquee-height]
#marquee {
    height: gw-marquee-heightpx;
}

[gw-content-bg]
#content {
    background: gw-content-bg;
}

[gw-content-tx]
#content {
    color: gw-content-tx;
}
#home-balance>.A .pinfo .welcome-name .welcome {
    color: gw-content-tx;
}

#history-bet table td {
    color: gw-content-tx;
}

#history-transaction table>tbody>tr>td {
    color: gw-content-tx;
}

#leaderboard td {
    color: gw-content-tx;
}

#register table td{
    color: gw-content-tx;
}

#downline table td{
    color: gw-content-tx;
}

[gw-content-tx-title]
#history-transaction table b {
    color: gw-content-tx-title;
}
#promotion .packet-title {
    color: gw-content-tx-title;
}

#login .title {
    color: gw-content-tx-title;
}
#login .bottom-link {
    color: gw-content-tx-title;
}
#register .title {
    color: gw-content-tx-title;
}
#register li b {
    color: gw-content-tx-title;
}
#register .login {
    color: gw-content-tx-title;
}
#resetPassword .t1 {
	color: gw-content-tx-title;
}
#resetPassword .login {
    color: gw-content-tx-title;
}
#settings .t1 {
    color: gw-content-tx-title;
}
#changePassword .t1 {
    color: gw-content-tx-title;
}
#changeBank .t1 {
    color: gw-content-tx-title;
}
#leaderboard .t1 {
    color: gw-content-tx-title;
}
#deposit h2 {
    color: gw-content-tx-title;
}
#deposit .title {
    color: gw-content-tx-title;
}
#withdraw h2 {
    color: gw-content-tx-title;
}
#withdraw .title {
    color: gw-content-tx-title;
}
#withdraw .blink {
    color: gw-content-tx-title;
}


[gw-content-tx-sub]
#history-transaction table .createdTime {
    color: gw-content-tx-sub;
}
#changeBank .t2 {
    color: gw-content-tx-sub;
}
#changeBank .note {
    color: gw-content-tx-sub;
}
#register table p {
    color: gw-content-tx-sub;
}
#home-refer-share .refer-qrcode-note {
    color: gw-content-tx-sub;
}

[gw-footer-bg]
#footer {
    background: gw-footer-bg;
}

[gw-footer-tx]
#footer {
    color: gw-footer-tx;
}

[gw-footer-tx-sz]
#footer {
    font-size: gw-footer-tx-szpx;
}

[gw-select-footer-line-height=2]
#footer a {
    line-height: 0px;
    font-size: 0px!important;
    padding-top: 13px;
    padding-bottom: 12px;
}

[gw-footer-badge-bg]
#footer a .badge {
    background: gw-footer-badge-bg;
}

[gw-footer-1st-bg]
#footer a:first-child > i {
    background-image: url(gw-footer-1st-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-2nd-bg]
#footer a:nth-child(2) > i {
    background-image: url(gw-footer-2nd-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-3rd-bg]
#footer a:nth-child(3) > i {
    background-image: url(gw-footer-3rd-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-4th-bg]
#footer a:nth-child(4) > i {
    background-image: url(gw-footer-4th-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-5th-bg]
#footer a:nth-child(5) > i {
    background-image: url(gw-footer-5th-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-6th-bg]
#footer a:nth-child(6) > i {
    background-image: url(gw-footer-6th-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-1st-selected-bg]
#footer a.selected:first-child > i {
    background-image: url(gw-footer-1st-selected-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-2nd-selected-bg]
#footer a.selected:nth-child(2) > i {
    background-image: url(gw-footer-2nd-selected-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-3rd-selected-bg]
#footer a.selected:nth-child(3) > i {
    background-image: url(gw-footer-3rd-selected-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-4th-selected-bg]
#footer a.selected:nth-child(4) > i {
    background-image: url(gw-footer-4th-selected-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-5th-selected-bg]
#footer a.selected:nth-child(5) > i {
    background-image: url(gw-footer-5th-selected-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-footer-6th-selected-bg]
#footer a.selected:nth-child(6) > i {
    background-image: url(gw-footer-6th-selected-bg);
	color: transparent;
    text-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[gw-home-lucky-bg]
#home-lucky .wrapper {
    background: url(gw-home-lucky-bg);
    background-size: 100% 100% !important;
    padding: 36% 4% 4% 6%;
    border: 0;
    border-radius: 0;
}

#home-lucky p{
    display:none;
}

[gw-home-lucky-bg-img-padding-top]
#home-lucky .wrapper {
    padding-top: gw-home-lucky-bg-img-padding-toppx;
}

[gw-home-lucky-number-bg]
#home-lucky .myluckynumber{
    background:url(gw-home-lucky-number-bg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    text-shadow: none;
    color: transparent;
}

[gw-home-lucky-more-info-bg]
#home-lucky .warning.more{
    background:url(gw-home-lucky-more-info-bg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    text-shadow: none;
    color: transparent;
}

#home-lucky p.t1 { 
    display: none; 
}

[gw-live-tx-bg]
#home-livetx table td {
    background: gw-live-tx-bg;
}

[gw-live-tx-title-tx]
#home-livetx table td.title {
    color: gw-live-tx-title-tx;
}

[gw-live-tx-tx]
#home-livetx table td {
    color: gw-live-tx-tx;
}

[gw-live-tx-amount-tx]
#home-livetx table td.amount {
    color: gw-live-tx-amount-tx;
}

[gw-live-tx-left-title-bg]
#home-livetx table td.green {
    background: gw-live-tx-left-title-bg;
}

[gw-live-tx-left-title-tx]
#home-livetx table td.green {
    color: gw-live-tx-left-title-tx;
}

[gw-live-tx-right-title-bg]
#home-livetx table td.red {
    background: gw-live-tx-right-title-bg;
}

[gw-live-tx-right-title-tx]
#home-livetx table td.red {
    color: gw-live-tx-right-title-tx;
}

[gw-balance-bg]
#home-balance {
    background-image: url(gw-balance-bg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
	padding: 5px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #000;
}
#home-balance > .A .pinfo {
    border: 0;
    padding: 5px 0;
}
#home-balance > .A .vc-note {
    font-size: 13px;
}

[gw-balance-tx]
#home-balance > .A .vc-balance {
    color: gw-balance-tx;
}

#home-balance > .A .pinfo .welcome-name {
    color: gw-balance-tx;
}

[gw-balance-login-btn-img]
#home-balance > .A .pinfo .links a {
    background-image: url(gw-balance-login-btn-img);
	color: transparent;
    text-shadow: none;
	width: 120px;
	height: 42px;
}

[gw-balance-register-btn-img]
#home-balance > .A .pinfo .links a.register {
    background-image: url(gw-balance-register-btn-img);
}

[gw-select-balance-login-btn-position=Center]
#home-balance > .A .pinfo .links a {
    float: left;
    width: calc(50% - 5px);
    margin: 0;
}
#home-balance > .A .pinfo .links a:last-child {
    margin-left: 10px;
}

[gw-balance-deposit-btn-img]
#home-balance > .A .btns .btn {
    background-image: url(gw-balance-deposit-btn-img);
	background-color: transparent;
    background-size: 100% 100%;
    color: transparent;
    text-shadow: none;
    border: 0;
}

[gw-balance-withdraw-btn-img]
#home-balance > .A .btns .btn.vc-withdraw {
    background-image: url(gw-balance-withdraw-btn-img);
}

[gw-balance-refresh-btn-img]
#home-balance > .A .btns .btn.vc-refresh {
    background-image: url(gw-balance-refresh-btn-img);
}

[gw-referrer-bg-img]
#home-refer .wrapper {
    overflow: hidden;
    background-image: url(gw-referrer-bg-img);
    background-color: transparent;
    background-size: 100% 100%;
    font-size: 0;
    padding-top: 42%;
}

#home-refer p {
    display: none;
}

[gw-referrer-bg-img-padding-top]
#home-refer .wrapper.bg {
    padding-top: gw-referrer-bg-img-padding-toppx;
}

[gw-referrer-invite-btn-img]
#home-refer .btn {
    background-image: url(gw-referrer-invite-btn-img);
	background-color: transparent;
    background-size: 100% 100%;
    color: transparent;
    text-shadow: none;
	border: 0;
}

[gw-referrer-downline-btn-img]
#home-refer .btn.downline {
    background-image: url(gw-referrer-downline-btn-img);
}

[gw-referrer-copy-btn-img]
#home-refer .btn.copy {
    background-image: url(gw-referrer-copy-btn-img);
}

[gw-referrer-info-btn-img]
#home-refer .btn.more {
    background-image: url(gw-referrer-info-btn-img);
}

[gw-popup-lang-bg]
#main-language .box {
    background: gw-popup-lang-bg;
}

[gw-popup-lang-tx]
#main-language .box {
    color: gw-popup-lang-tx;
}

[gw-popup-lang-br]
#main-language .box {
    border-color: gw-popup-lang-br;
}
#main-language .box .item {
    border-color: gw-popup-lang-br;
}

[gw-popup-promo-bg]
#promotion-popup {
    background: gw-popup-promo-bg;
}
#home-refer-share {
    background: gw-popup-promo-bg;
}

[gw-popup-promo-tx-2]
#promotion-popup {
    color: gw-popup-promo-tx-2;
}
#home-refer-share {
    color: gw-popup-promo-tx-2;
}

[gw-popup-promo-br]
#promotion-popup {
    border-color: gw-popup-promo-br;
}
#promotion-popup .title {
    border-color: gw-popup-promo-br;
}
#home-refer-share {
    border-color: gw-popup-promo-br;
}
#home-refer-share .refer-code {
    border-color: gw-popup-promo-br;
}

[gw-popup-promo-tx-1]
#promotion-popup .title {
    color: gw-popup-promo-tx-1;
}
#home-refer-share .header {
    color: gw-popup-promo-tx-1;
}

[gw-popup-promo-td-1]
#promotion-popup .html-desc table td:first-child, #promotion-popup .html-desc table td.header {
    background: gw-popup-promo-td-1;
}

[gw-popup-promo-td-1-tx]
#promotion-popup .html-desc table td:first-child, #promotion-popup .html-desc table td.header {
    color: gw-popup-promo-td-1-tx;
}

[gw-popup-promo-btn-close]
#promotion-popup .btn.danger {
    background: gw-popup-promo-btn-close;
}

[gw-popup-promo-btn-txt-close]
#promotion-popup .btn.danger {
    color: gw-popup-promo-btn-txt-close;
}

[gw-popup-promo-btn-download]
#promotion-popup .btn.download {
    background: gw-popup-promo-btn-download;
}

[gw-popup-promo-btn-txt-download]
#promotion-popup .btn.download {
    color: gw-popup-promo-btn-txt-download;
}

[gw-popup-promo-btn-free]
#promotion-popup .btn.free {
    background: gw-popup-promo-btn-free;
}

[gw-popup-promo-btn-txt-free]
#promotion-popup .btn.free {
    color: gw-popup-promo-btn-txt-free;
}

[gw-popup-promo-btn-claim]
#promotion-popup .btn.claim {
    background: gw-popup-promo-btn-claim;
}

[gw-popup-promo-btn-txt-claim]
#promotion-popup .btn.claim {
    color: gw-popup-promo-btn-txt-claim;
}

[gw-angpao-tx-1]
#promotion .packet {
    color: gw-angpao-tx-1;
}

[gw-angpao-tx-2]
#promotion .packet .amount {
    color: gw-angpao-tx-2;
}

[gw-angpao-tx-sz-1]
#promotion .packet p:first-child {
    font-size: gw-angpao-tx-sz-1px;
}

[gw-angpao-tx-sz-2]
#promotion .packet p:last-child {
    font-size: gw-angpao-tx-sz-2px;
}

[gw-select-game-list-menu-style=2]
#gameList .tabs {
    background: none;
    box-shadow: none;
    padding: 5px 10px 5px 5px;
}

[gw-game-list-menu-bg]
#gameList .tabs {
    background: gw-game-list-menu-bg;
}

[gw-game-list-menu-item-tx]
#gameList .tabs {
    color: gw-game-list-menu-item-tx;
}
#history .tabs .tab {
    color: gw-game-list-menu-item-tx;
}
#leaderboard .dates .date, #leaderboard .keys .key {
    color: gw-game-list-menu-item-tx;
}

[gw-game-list-menu-item-bg]
#gameList .tabs .tab {
    background: gw-game-list-menu-item-bg;
}
#history .tabs .tab {
    background: gw-game-list-menu-item-bg;
}
#leaderboard .dates .date, #leaderboard .keys .key {
    background: gw-game-list-menu-item-bg;
}

[gw-game-list-menu-item-selected-bg]
#gameList .tabs .tab.selected {
    background: gw-game-list-menu-item-selected-bg;
}
#history .tabs .tab.selected {
    background: gw-game-list-menu-item-selected-bg;
}
#leaderboard .dates .date.selected, #leaderboard .keys .key.selected {
    background: gw-game-list-menu-item-selected-bg;
}

[gw-game-icon-insert-bottom-tx]
#home-game a.custom:before {
    content: "gw-game-icon-insert-bottom-tx";
}
#home-game a.custom {
    text-align: center;
    font-size: 10px;
    background-size: 100%;
    background-position: top center;
}

[gw-select-referrer-page-show-top-menu=2]
#downline .tabs {
    display: none;
}

[gw-register-li-tx]
#register li{
    color: gw-register-li-tx;
}

[gw-register-err-tx]
#register table p{
    color: gw-register-err-tx;
}

[gw-notice-bg]
.swal2-popup.swal2-modal.swal2-show {
    background: gw-notice-bg;
}

[gw-notice-tx]
.swal2-popup .swal2-content {
    color: gw-notice-tx;
}

[gw-leaderboard-title-tx]
#leaderboard .t1{visibility: hidden;font-size: 0px;}
#leaderboard .t1::after{visibility: visible;content: "gw-leaderboard-title-tx";font-size: 20px;}


