<!DOCTYPE html>
<html>
<head>
<base href="http://backoffice.livechat.com" target="_blank">
<title>LIVECHAT</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover">
<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body id="init">
<script>
    var VERSION = 1;
    var BASEURL = window.location.origin;
	var script = document.createElement('script');
	script.setAttribute('type','text/javascript');
	script.setAttribute('src',BASEURL+'/lib/require.js');
	script.setAttribute('data-main',BASEURL+'/js/app.js?v='+VERSION);
	document.getElementsByTagName('head')[0].appendChild(script);
</script>
</body>
</html>